@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><h4>Thailand Addresses Client</h4></p><br>
    <hr>
    <p>@ViewBag.FindAddress</p>
    <hr>
    <p>@ViewBag.Region</p>
    <p>@ViewBag.Province</p>
    <p>@ViewBag.Postcode</p>
    <p>@ViewBag.District</p>
    <p>@ViewBag.SubDistrict</p>
</div>
